*{
    box-sizing: border-box;
}
body{
position: relative;
width: 99vw;
height: 99vh;
background-image: url('./images/05.jpg.jpg' );
background-size: cover;
}
/* 主容器 */
.contianer{
    display:flex;
    flex-wrap: wrap;
    
    margin-top: 1px;
    margin-left: 1px;
    width:  30vw;
    position: absolute;
    left: 100px;
    bottom: 80px;   
}

/* 每一天的格子 */
.contianer>div{
    background-color: white;
    flex-basis: calc(100% / 7);
    
    margin-top: -1px;
    margin-left: -1px;
    height:70px;

}
/* 每一個基本的div */
.contianer>.box{           
/* From https://css.glass */
background: rgba(64, 102, 73, 0.27);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.6px);
-webkit-backdrop-filter: blur(6.6px);
border: 1px solid rgba(64, 102, 73, 0.64);
    
}
/* 星期日-六 */
.contianer>.tittle{  
    height: 30px;
    background-color: #ccc;
    flex-basis: calc(100% / 7);
}
/* 每週六日 */
.contianer>.holiday{
    background-color: pink;
}
/* 年的標題 */
.years{
    font-size: 48px;
    text-align: center;
}
/* 月的切換 */
.a-month{
    font-size: 24px;
    text-align: center;
}
/* 特別節日字體 */
.holiday-font{
   
    color: red;
}
/* 特別節日框 */
.contianer>.holiday-day{
    background-color: pink;
}
/* 日數的字型 */
.day-font{
    
}
.contianer>.today-day{
    background-color: #b5dd23;
}